
{% load static %}

		<footer>
			<div class="container footer_section">
				<div class="row">
					<div class="col-md-6 text-center">
						<img src="{% static 'images/atiqur1.jpg' %}" alt="image not">
					</div>
					<div class="col-md-6">
						<h2> I am a web developer <small> and </small> <br>  designer </h2>

					</div>

				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<p><small>&copy; 2020. Magazine Free HTML5. All Rights Reserverd. <br> Designed and development by <a href="#" target="_blank"> Atiqur Rahman </a> </small></p>
					</div>

				</div>
			</div>
	</footer>


