{% extends 'base.html' %}
{% load static %}

{% block title %} welcome to your sample {% endblock %}

{% block stylesheet %}
 <!-- oi khane css or style likhbo -->
{% endblock %}



{% block profile %}
{% endblock %}



{% block content %}

<div class="container text-center">
    <h1 class="text-center"> update your category</h1>
    <form  method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success "> Update Category  </button>
    </form>
</div>
{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer%}


{% block script %}

{% endblock %}

